.gallery-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primary-white-color;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 114px;
  }
}
